.chooseRow{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}
.lineheights{
    padding: 10px 0;
    border-bottom: 1px rgb(212, 212, 212) dashed;
}
.lineheights:nth-child(4) {
    border-bottom: none;
}